
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease-in-out; 
  background-color: #f0f0f0;

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black; 
  transition: background-color 0.3s ease-in-out;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white; /* Initial font color */
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

/* Hover Styles */
a:hover {
  color: cyan; /* Change color on hover */
}
