body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent; 
  transition: background-color 0.3s ease;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #333; 
  transition: color 0.3s ease;
}

.navbar.scrolled {
  background-color: #3b5998;
}

.navbar a:hover {
  color: #fff; 
}

